/* @override 
	http://localhost:8000/css/style.css
	http://localhost:8000/static/css/style.css
*/

/* @group fonts */

@font-face {
	font-family: 'Museo300';
	src: url('/static/fonts/museo300-regular-webfont.eot');
	src: url('/static/fonts/museo300-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/museo300-regular-webfont.woff') format('woff'),
         url('/static/fonts/museo300-regular-webfont.ttf') format('truetype'),
         url('/static/fonts/museo300-regular-webfont.svg#Museo300') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Museo500';
	src: url('/static/fonts/museo500-regular-webfont.eot');
	src: url('/static/fonts/museo500-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/museo500-regular-webfont.woff') format('woff'),
         url('/static/fonts/museo500-regular-webfont.ttf') format('truetype'),
         url('/static/fonts/museo500-regular-webfont.svg#Museo500') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('/static/fonts/Ubuntu-Regular-webfont.eot');
	src: url('/static/fonts/Ubuntu-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/Ubuntu-Regular-webfont.woff') format('woff'),
         url('/static/fonts/Ubuntu-Regular-webfont.ttf') format('truetype'),
         url('/static/fonts/Ubuntu-Regular-webfont.svg#UbuntuRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* @end */

body {
	background-color: #999;
	font-family: Ubuntu,"Lucida Grande", Lucida, Verdana, sans-serif;
}

.blanc {
	background-color: white;
}

#page {
	height: 800px;
}

/* @group Bandeau */

#bandeau {
	height: 120px;
	position: relative;
	background: url(/static/img/puy-de-dome.jpg) no-repeat right;
}

#logo {
	position: absolute;
	top: 15px;
	left: 40px;
}

#entete h1 {
	color: #2a4ca0;
	position: absolute;
	left: 160px;
	top: 29px;
	font: 18px Museo500, "Trebuchet MS", Trebuchet, Tahoma, Arial;
}

#entete h1 span {
	font-size: 30px;
	display: block;
	margin-top: 6px;
}

#menubar {
	position: relative;
	left: -32px;
	width: 1024px;
	height: 74px;
	background: url(/static/img/bandeau.png) no-repeat;
}

#navigation {
	text-align: center;
}

#navigation li {
	color: #191919;
	font: 18px Ubuntu,"Trebuchet MS", Trebuchet, Tahoma, Arial;
	display: inline-block;
	padding-top: 12px;
}

#email {
	width: 23px;
	vertical-align: -3px;
}

li.sep {
	padding-right: 10px;
	padding-left: 10px;
	text-shadow: #eee 1px 1px 0;
}

#navigation li a {
	color: #191919;
	text-decoration: none;
	text-shadow: #eee 1px 1px 0;
	padding: 4px 10px 3px;
	behavior: url(/static/css/PIE.htc);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

#navigation li a:hover {
	background-color: #c9ee8f;
}


/* @end */

h2 {
	color: #2a4ca0;
	font: 32px Museo500, "Trebuchet MS", Trebuchet, Tahoma, Arial;
	margin-bottom: 10px;
}

h4 {
	font: 15px Museo500, "Trebuchet MS", Trebuchet, Tahoma, Arial;
	margin-bottom: 10px;
}

.content {
	padding-left: 20px;
}

.colonne {
	padding-right: 10px;
}

.widget {
	border: 1px solid #A7A7A7;
	text-align: center;
	-webkit-border-radius: 10px;
	-moz-border-radius: 8px;
	border-radius: 10px;
	-webkit-box-shadow: #858585 0px 2px 4px;
	-moz-box-shadow: #858585 0px 2px 4px;
	box-shadow: #858585 0px 2px 4px;
	background: #FFF;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FFF), to(#F1F1F1));
	background: -webkit-linear-gradient(#FFF, #F1F1F1);
	background: -moz-linear-gradient(#FFF, #F1F1F1);
	background: -ms-linear-gradient(#FFF, #F1F1F1);
	background: -o-linear-gradient(#FFF, #F1F1F1);
	background: linear-gradient(#FFF, #F1F1F1);
	-pie-background: linear-gradient(#FFF, #F1F1F1);
	behavior: url(/static/css/PIE.htc);
	margin-bottom: 10px;
	padding: 10px;
}