{% extends "base.html" %}
{% block meta_title %}Accueil{% endblock %}

{% block document %}
    
   
   <div id="index-widgets">
     
     <div class="span7 widget"  id="manifestations">
         
         <div class="widget-title">
             <img class="widget-icon" src="{{ STATIC_URL }}img/icone_manif.png">
             <h2>Manifestations à venir</h2>
        </div>

            <ul class="widget-items">

                

                <li class="widget-item">    
                    <span class="desc">24/11/2011 - Don du sang, de 16h à 18h30, Salle Max Favalelli - <a href="#">En savoir plus</a></span>
                </li>    

                
                 <li class="widget-item">    
                        <span class="desc">27/11/2011 - «La Guerre des Demoiselles» par Jacques PINCE, auteur Bourbonnais Discussion autour de son dernier roman, à 18H30, Médiathèque  - <a href="#">En savoir plus</a></span>
                </li>
                
                <li class="widget-item">    
                    <span class="desc">03/12/2011 - Banquet de la Sainte-Barbe, Salle Max Favalelli, à partir de 19h00  - <a href="#">En savoir plus</a></span>
                </li>
                
                <li class="widget-item">    
                    <span class="desc">04/12/2011 - LOTO des écoles, organisé par Loisirs & Culture, Salle Max Favalelli, à partir de 19h00  - <a href="#">En savoir plus</a></span>
                </li>


            </ul>
                  
    </div>   
    
    
     <div class="span7 widget"  id="commune">
         
         <div class="widget-title">
             <img class="widget-icon" src="{{ STATIC_URL }}img/icone_commune.png">
             <h2>Vie communale</h2>
        </div>

            <ul class="widget-items">

                <li class="widget-item">    
                    <span class="desc">25/11/2011 - Déclenchement des illuminations, à 19H15, avec animation musicale, Parvis de l'Hôtel de Ville - <a href="#">En savoir +</a></span>
                </li>    


            </ul>
                  
    </div>
    <div class="span7 widget"  id="sport">
         
         <div class="widget-title">
             <img class="widget-icon" src="{{ STATIC_URL }}img/icone_sport.png">
             
             <h2>Vie sportive</h2>
        </div>

            <ul class="widget-items">
                <li class="widget-item">    
                    <span class="desc">26/11/2011 - Dîner Dansant de l’ASV RUGBY, à partir de 19h00, Salle Max Favalelli  - <a href="#">En savoir plus</a></span>
                </li>


                <li class="widget-item">    
                    <span class="desc">27/11/2011 - LOTO de l’École d’Arts Martiaux, à partir de 14h00, Salle Max Favalelli, à partir de 19h00  - <a href="#">En savoir plus</a></span>
                </li>
                
                <li class="widget-item">    
                    <span class="desc">31/12/2011 - Réveillon Dansant de l’ASV FOOTBALL, Salle Max Favalelli, à partir de 19h00  - <a href="#">En savoir plus</a></span>
                </li>


            </ul>
                  
    </div>
    
</div> 

     
{% endblock %}



{% block footer %}



{% endblock %}