{% extends "base.html" %}
{% block meta_title %}Accueil{% endblock %}

{% block document %}
    
   
   <div id="index-widgets">
     
     <div class="span7 widget"  id="manifestations">
         <div class="widget-title">
             <img class="widget-icon" src="{{ STATIC_URL }}img/icone_manif.png">
             <h2>Manifestations à venir</h2>
        </div>
            <ul class="widget-items">
                {% for o in mani %}
                    {% include "event_widget.html" %}
                {% endfor %}
            </ul>
    </div>   
    
     <div class="span7 widget"  id="commune">
         <div class="widget-title">
             <img class="widget-icon" src="{{ STATIC_URL }}img/icone_commune.png">
             <h2>Vie communale</h2>
        </div>
            <ul class="widget-items">
                {% for o in comm %}
                    {% include "event_widget.html" %}
                {% endfor %}
            </ul>
    </div>
    
    <div class="span7 widget"  id="sport">
         <div class="widget-title">
             <img class="widget-icon" src="{{ STATIC_URL }}img/icone_sport.png">
             <h2>Vie sportive</h2>
        </div>
            <ul class="widget-items">
                {% for o in spor %}
                    {% include "event_widget.html" %}
                {% endfor %}
            </ul>
    </div>
    
</div> 

     
{% endblock %}

