{% extends "base.html" %}
{% block meta_title %}Accueil{% endblock %}

{% block document %}
    
   
   <div id="index-widgets">
     
     <div class="span7 widget"  id="manifestations">
         
         <div class="widget-title">
             <img class="widget-icon" src="{{ STATIC_URL }}img/icone_manif.png">
             <h2>Manifestations à venir</h2>
        </div>

            <ul class="widget-items">

                <li class="widget-item">    
                    <span class="desc">10/03/2012 - Concert en plein air - <a href="#">En savoir plus</a></span>
                </li>    
                <li class="widget-item">    
                    <span class="desc">14/03/2012 - Conférence sur le réchauffement climatique avec le Pr Martin <a href="#">En savoir +</a></span>
                </li>
                <li class="widget-item">    
                    <span class="desc">10/03/2012 - Concert en plein air - <a href="#">En savoir plus</a></span>
                </li>
                <li class="widget-item">    
                    <span class="desc">10/03/2012 - Concert en plein air - <a href="#">En savoir plus</a></span>
                </li>
                <li class="widget-item">    
                    <span class="desc">10/03/2012 - Concert en plein air - <a href="#">En savoir plus</a></span>
                </li>
                <li class="widget-item">    
                    <span class="desc">10/03/2012 - Concert en plein air - <a href="#">En savoir plus</a></span>
                </li>
                <li class="widget-item">    
                    <span class="desc">10/03/2012 - Concert en plein air - <a href="#">En savoir plus</a></span>
                </li>
                <li class="widget-item">    
                    <span class="desc">10/03/2012 - Concert en plein air - <a href="#">En savoir plus</a></span>
                </li>

            </ul>
                  
    </div>   
    
    
     <div class="span7 widget"  id="commune">
         
         <div class="widget-title">
             <img class="widget-icon" src="{{ STATIC_URL }}img/icone_commune.png">
             <h2>Vie communale</h2>
        </div>

            <ul class="widget-items">

                <li class="widget-item">    
                    <span class="desc">10/03/2012 - Concert en plein air - <a href="#">En savoir +</a></span>
                </li>    
                <li class="widget-item">    
                    <span class="desc">14/03/2012 - Conférence sur le réchauffement climatique avec le Pr Martin <a href="#">En savoir +</a></span>
                </li>
                <li class="widget-item">    
                    <span class="desc">10/03/2012 - Concert en plein air - <a href="#">En savoir +</a></span>
                </li>
                <li class="widget-item">    
                    <span class="desc">10/03/2012 - Concert en plein air - <a href="#">En savoir +</a></span>
                </li>
                <li class="widget-item">    
                    <span class="desc">10/03/2012 - Concert en plein air - <a href="#">En savoir plus</a></span>
                </li>
                <li class="widget-item">    
                    <span class="desc">10/03/2012 - Concert en plein air - <a href="#">En savoir plus</a></span>
                </li>
                <li class="widget-item">    
                    <span class="desc">10/03/2012 - Concert en plein air - <a href="#">En savoir plus</a></span>
                </li>
                <li class="widget-item">    
                    <span class="desc">10/03/2012 - Concert en plein air - <a href="#">En savoir plus</a></span>
                </li>

            </ul>
                  
    </div>
    <div class="span7 widget"  id="sport">
         
         <div class="widget-title">
             <img class="widget-icon" src="{{ STATIC_URL }}img/icone_sport.png">
             
             <h2>Vie sportive</h2>
        </div>

            <ul class="widget-items">

                <li class="widget-item">    
                    <span class="desc">10/03/2012 - Concert en plein air - <a href="#">En savoir +</a></span>
                </li>    
                <li class="widget-item">    
                    <span class="desc">14/03/2012 - Conférence sur le réchauffement climatique avec le Pr Martin <a href="#">En savoir +</a></span>
                </li>
                <li class="widget-item">    
                    <span class="desc">10/03/2012 - Concert en plein air - <a href="#">En savoir +</a></span>
                </li>
                <li class="widget-item">    
                    <span class="desc">10/03/2012 - Concert en plein air - <a href="#">En savoir +</a></span>
                </li>
                <li class="widget-item">    
                    <span class="desc">10/03/2012 - Concert en plein air - <a href="#">En savoir plus</a></span>
                </li>
                <li class="widget-item">    
                    <span class="desc">10/03/2012 - Concert en plein air - <a href="#">En savoir plus</a></span>
                </li>
                <li class="widget-item">    
                    <span class="desc">10/03/2012 - Concert en plein air - <a href="#">En savoir plus</a></span>
                </li>
                <li class="widget-item">    
                    <span class="desc">10/03/2012 - Concert en plein air - <a href="#">En savoir plus</a></span>
                </li>

            </ul>
                  
    </div>
    
</div> 

     
{% endblock %}



{% block footer %}



{% endblock %}